@layer icons {
    .icon {
        --size: var(--icon-size, 1rem);
        background-color: var(--clr-icon-primary);
        display: inline-block;
        flex-shrink: 0;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        vertical-align: middle;
        height: 1rem;
        height: var(--size);
        width: 1rem;
        width: var(--size);
        margin: 0 -1px; // shrinks icon-only buttons to square.

        &.icon-menu {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/menu.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/menu.svg);
        }

        &.icon-asaid {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/asaid.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/asaid.svg);
        }

        &.icon-asaid-close {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/asaidClose.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/asaidClose.svg);
        }

        &.icon-lang {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/lang.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/lang.svg);
        }

        &.icon-cancel {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/cancel.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/cancel.svg);
        }

        &.icon-search {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/search.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/search.svg);
        }

        &.icon-chevron {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/chevron.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/chevron.svg);
        }

        &.icon-sun {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/sun.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/sun.svg);
        }

        &.icon-moon {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/moon.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/moon.svg);
        }

        &.icon-copy {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/copy.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/copy.svg);
        }

        &.icon-external {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/externallink.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/externallink.svg);
        }

        &.icon-quote {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/quote.d88c218cc7eaf9168178.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/quote.d88c218cc7eaf9168178.svg);
        }

        &.icon-add-filled {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/add-filled.a8e6793efe0c45d06016.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/add-filled.a8e6793efe0c45d06016.svg);
        }

        &.icon-add {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/add.9f0957aa3417844441a2.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/add.9f0957aa3417844441a2.svg);
        }

        &.icon-altname {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/altname.fa41e3cb6859d720b231.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/altname.fa41e3cb6859d720b231.svg);
        }

        &.icon-bell-filled {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/bell-filled.591cd444906240cb460b.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/bell-filled.591cd444906240cb460b.svg);
        }

        &.icon-bell {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/bell.034a87122ec06307f900.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/bell.034a87122ec06307f900.svg);
        }

        &.icon-bookmark-filled {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/bookmark-filled.22802275efddc0dd3f04.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/bookmark-filled.22802275efddc0dd3f04.svg);
        }

        &.icon-bookmark {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/bookmark.e9ba9d27f97589ba62cc.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/bookmark.e9ba9d27f97589ba62cc.svg);
        }

        &.icon-checkmark {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/checkmark.d05ce91f65dfc321cadd.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/checkmark.d05ce91f65dfc321cadd.svg);
        }

        &.icon-chrome {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/chrome.4c57086589fd964c05f5.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/chrome.4c57086589fd964c05f5.svg);
        }

        &.icon-critical {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/critical.046b659f661afa9ab11f.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/critical.046b659f661afa9ab11f.svg);
        }

        &.icon-deno {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/deno.a791d0899729b3089500.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/deno.a791d0899729b3089500.svg);
        }

        &.icon-deprecated {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/deprecated.eda3b39bb2bd366d4b2b.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/deprecated.eda3b39bb2bd366d4b2b.svg);
        }

        &.icon-desktop {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/desktop.ae5e91df1e60ced79a5e.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/desktop.ae5e91df1e60ced79a5e.svg);
        }

        &.icon-disabled {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/disabled.f52f4d023359dbf8a727.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/disabled.f52f4d023359dbf8a727.svg);
        }

        &.icon-edge {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/edge.40018f6a959bc3e5c537.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/edge.40018f6a959bc3e5c537.svg);
        }

        &.icon-edit {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/edit.2e4f3bd111b39f9ebbc2.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/edit.2e4f3bd111b39f9ebbc2.svg);
        }

        &.icon-ellipses {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/ellipses.c6dd1c04b7ef3cba126a.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/ellipses.c6dd1c04b7ef3cba126a.svg);
        }

        &.icon-experimental {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/experimental.2f9e05f53c6dbee7791c.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/experimental.2f9e05f53c6dbee7791c.svg);
        }

        &.icon-eye-filled {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/eye-filled.dd0405b418fcfecf0f77.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/eye-filled.dd0405b418fcfecf0f77.svg);
        }

        &.icon-eye {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/eye.b451ad8ced0662500e82.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/eye.b451ad8ced0662500e82.svg);
        }

        &.icon-footnote {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/footnote.adb3f56121e4f9c95ba7.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/footnote.adb3f56121e4f9c95ba7.svg);
        }

        &.icon-github-mark-small {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/github-mark-small.348586b8904b950b8ea8.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/github-mark-small.348586b8904b950b8ea8.svg);
        }

        &.icon-ie {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/ie.cf17782c766db346d9b1.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/ie.cf17782c766db346d9b1.svg);
        }

        &.icon-information {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/information.81a9c7bfba75e9c4e993.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/information.81a9c7bfba75e9c4e993.svg);
        }

        &.icon-language {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/language.e4289910782fa8d1c882.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/language.e4289910782fa8d1c882.svg);
        }

        &.icon-menu-filled {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/menu-filled.48a621119c4448c94d79.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/menu-filled.48a621119c4448c94d79.svg);
        }

        &.icon-mobile {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/mobile.7f0bdae2a317caf911ee.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/mobile.7f0bdae2a317caf911ee.svg);
        }

        &.icon-more {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/more.ce2ad00a1fca149a22ce.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/more.ce2ad00a1fca149a22ce.svg);
        }

        &.icon-theme-dark {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/theme-dark.2204a73b9b7fbc5e0219.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/theme-dark.2204a73b9b7fbc5e0219.svg);
        }

        &.icon-next {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/next.1ecddf89481891f59480.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/next.1ecddf89481891f59480.svg);
        }

        &.icon-no {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/no.d2e0aa3e7440f80dccd6.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/no.d2e0aa3e7440f80dccd6.svg);
        }

        &.icon-nodejs {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/nodejs.bb93afa7923c2473034b.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/nodejs.bb93afa7923c2473034b.svg);
        }

        &.icon-nonstandard {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/nonstandard.d6e4c7b35b5ed187e936.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/nonstandard.d6e4c7b35b5ed187e936.svg);
        }

        &.icon-note-info {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/note-info.0eafb6e7738509bce66e.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/note-info.0eafb6e7738509bce66e.svg);
        }

        &.icon-note-warning {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/note-warning.d6e4c7b35b5ed187e936.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/note-warning.d6e4c7b35b5ed187e936.svg);
        }

        &.icon-note-deprecated {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/note-deprecated.0d2643f0c417b3670c49.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/note-deprecated.0d2643f0c417b3670c49.svg);
        }

        &.icon-opera {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/opera.a0ab0c5004c00e618a00.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/opera.a0ab0c5004c00e618a00.svg);
        }

        &.icon-padlock {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/padlock.6210113487ca12ff25f3.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/padlock.6210113487ca12ff25f3.svg);
        }

        &.icon-partial {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/partial.2d8806d709221f07c72c.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/partial.2d8806d709221f07c72c.svg);
        }

        &.icon-prefix {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/prefix.db94a69f5867547725e5.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/prefix.db94a69f5867547725e5.svg);
        }

        &.icon-preview {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/preview.77ee12031f5f5ecb2962.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/preview.77ee12031f5f5ecb2962.svg);
        }

        &.icon-previous {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/previous.585a0363cab37d75a90d.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/previous.585a0363cab37d75a90d.svg);
        }

        &.icon-safari {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/safari.3679eb31121b46323304.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/safari.3679eb31121b46323304.svg);
        }

        &.icon-samsunginternet {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/samsunginternet.55e41ddfc05627ecc331.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/samsunginternet.55e41ddfc05627ecc331.svg);
        }

        &.icon-server {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/server.fdad5f2f9f48879ac6c2.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/server.fdad5f2f9f48879ac6c2.svg);
        }

        &.icon-sidebar {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/sidebar.18421c220ec0a5e690f1.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/sidebar.18421c220ec0a5e690f1.svg);
        }

        &.icon-simple-firefox {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/simple-firefox.9b9181d8c30c3de88edf.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/simple-firefox.9b9181d8c30c3de88edf.svg);
        }

        &.icon-small-arrow {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/small-arrow.a22801b3d18b7d1ea795.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/small-arrow.a22801b3d18b7d1ea795.svg);
        }

        &.icon-theme-light {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/theme-light.af1aa3887c0deadaaf2e.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/theme-light.af1aa3887c0deadaaf2e.svg);
        }

        &.icon-star-filled {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/star-filled.358ee4566f4a4c7d438d.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/star-filled.358ee4566f4a4c7d438d.svg);
        }

        &.icon-star {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/star.00aab2ac065852fd407a.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/star.00aab2ac065852fd407a.svg);
        }

        &.icon-theme-os-default {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/theme-os-default.b14255eadab403fa2e8a.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/theme-os-default.b14255eadab403fa2e8a.svg);
        }

        &.icon-thumbs-down {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/thumbs-down.7ca516d7f04791a3910c.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/thumbs-down.7ca516d7f04791a3910c.svg);
        }

        &.icon-thumbs-up {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/thumbs-up.10a6075a46940d218431.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/thumbs-up.10a6075a46940d218431.svg);
        }

        &.icon-trash {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/trash.edee2ea86f1b505315f7.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/trash.edee2ea86f1b505315f7.svg);
        }

        &.icon-twitter {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/twitter.cc5b37feab537ddbf701.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/twitter.cc5b37feab537ddbf701.svg);
        }

        &.icon-unknown {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/unknown.7fd13a7673ebf93f625c.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/unknown.7fd13a7673ebf93f625c.svg);
        }

        &.icon-warning {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/warning.334964ef472eac4cfb78.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/warning.334964ef472eac4cfb78.svg);
        }

        &.icon-webview {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/webview.dc22c0f5614a5ff2d93a.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/webview.dc22c0f5614a5ff2d93a.svg);
        }

        &.icon-yes {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/yes.70caad81ca5e3d9f7576.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/yes.70caad81ca5e3d9f7576.svg);
        }

        &.icon-yes-circle {
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/yes-circle.1c4f7a083d20df35ca93.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/yes-circle.1c4f7a083d20df35ca93.svg);
        }

        svg.icon {
            background: transparent;
            color: var(--icon-primary);
        }
    }

    .submenu-icon,
    .block-icon {
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: contain;
        mask-size: contain;
        width: 2.5rem;
        transition: background 0.2s linear;

        &.html {
            background: var(--clr-html-background);
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/html.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/html.svg);
        }

        &.css {
            background: var(--clr-css-background);
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/css.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/css.svg);
        }

        &.js {
            background: var(--clr-js-background);
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/js.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/js.svg);
        }

        &.sass {
            background: var(--clr-sass-background);
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/sass.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/sass.svg);
        }

        &.access {
            background: var(--clr-access-background);
            -webkit-mask-image: url(http://localhost:3000/src/pages/assest/images/icons/access.svg);
            mask-image: url(http://localhost:3000/src/pages/assest/images/icons/access.svg);
        }
    }
}
