@font-face {
  font-family: 'Inter';
  src: url('./Inter-VariableFont_slnt,wght.woff2') format('woff2-variations');
  src: url('./Inter-VariableFont_slnt,wght.woff2') format('woff2') tech('variations');
  src: url('./Inter-VariableFont_slnt,wght.woff') format('woff-variations');
  src: url('./Inter-VariableFont_slnt,wght.woff') format('woff') tech('variations');
  font-display: swap;
  font-weight: <weight>;
  font-variation-settings: "slnt" <slant>;
}
