/* Centering*/
@layer center {
    /*  horizontally */

    /* Margin Auto */
    .center-h-margin {
        margin-inline: auto;
    }

    /* Flexbox */
    .center-h-flexbox {
        display: flex;
        justify-content: center;
    }

    /* Grid */
    .center-h-grid {
        display: grid;
        place-items: center;
    }
    /* CSS Grid */
    .center-h-grid-content {
        display: grid;
        place-content: center;
    }

    /* Position Relative & Absolute */
    .pos.r .center-h-absolute,
    .center-h-absolute {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Inline Block with Text Align */
    .center-h-inline-block {
        text-align: center;
    }

    .center-h-inline-block .center {
        display: inline-block;
    }

    /* Table Cell */

    .d-table .center {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    /* Vertical */
    /* Flexbox Vertical Center */
    .center-v-flexbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh; /* Adjust as needed */
    }

    /* Grid Vertical Center */
    .center-v-grid {
        display: grid;
        place-items: center;
        height: 100vh; /* Adjust as needed */
    }

    /* Position Relative & Absolute Vertical Center */
    .pos.r .center-v-absolute,
    .center-v-absolute {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Table Cell Vertical Center */
    .center-v-table-cell {
        display: table;
        height: 100vh; /* Adjust as needed */
    }

    .center-v-table-cell .center-table {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    /* CSS Grid Vertical Center */
    .center-v-css-grid {
        display: grid;
        place-content: center;
        height: 100vh; /* Adjust as needed */
    }
}
