/* inset */
@layer inset {
    $inset: (
        inset: inset,
        insetx: inset-inline,
        insetx-s: inset-inline-start,
        insetx-e: inset-inline-end,
        insety: inset-block,
        insety-s: inset-block-start,
        insety-e: inset-block-end,
    );

    @each $key, $val in $inset {
        .#{key} {
            $val: var(--#{key});
        }
    }

    .inset {
        inset: var(--inset);
    }
    .insetx {
        inset-inline: var(--insetx);
    }

    .insetx-s {
        inset-inline-start: var(--insetx-s);
    }

    .insetx-e {
        inset-inline-start: var(--insetx-s);
    }

    .insety {
        inset-block: var(--insety);
    }

    .insety-s {
        inset-block-start: var(--insety-s);
    }

    .insety-e {
        inset-block-start: var(--insety-s);
    }
}
