@layer message-note {
    [info],
    .info {
        color: #00529b;
        background-color: var(--clr-background-information);
    }

    [critical],
    .critical {
        color: var(--clr-critical);
        background: var(--clr-background-critical);
    }

    [success],
    .success {
        color: var(--clr-success);
        background-color: var(--clr-background-success);
    }

    [warning],
    .warning {
        color: var(--clr-warning);
        background-color: var(--clr-background-warning);
    }

    [error],
    .error {
        color: var(--clr-error);
        background-color: var(--clr-background-error);
    }

    [validation],
    .validation {
        color: var(--clr-validation);
        background-color: var(--clr-background-validation);
    }
}
