@use "./color-palette" as *;
@use "typography" as *;
@use "sizes" as *;

// typography

// typography fontSizes
$fs: (
    400: $fs-400,
    500: $fs-500,
    600: $fs-600,
    700: $fs-700,
    800: $fs-800,
    900: $fs-900,
);
$fw: (
    400: $fw-400,
    700: $fw-700,
    800: $fw-800
);
$font-sizes: (
    h1: $h1-fs,
    h2: $h2-fs,
    h3: $h3-fs,
    h4: $h4-fs,
    body: $body-fs
) !default;

$font-weights: (
    h1: $h1-fw,
    h2: $h2-fw,
    h3: $h3-fw,
    h4: $h4-fw,
    body: $body-fw
) !default;

// body
$body: (
    line-height: #{$body-line-height},
    letter-spacing: #{$body-letter-spacing},
    ff: #{$body-ff},
    font: var(--fw-body) var(--fs-body) / var(--body-line-height) var(--body-ff)
) !default;

// headings
$heading: (
    -line-height: #{$h-line-height},
    -letter-spacing: #{$h-letter-spacing},
    -ff: #{$h-ff},
    1-font: var(--fw-h1) var(--fs-h1) / var(--h-line-height) var(--h-ff),
    2-font: var(--fw-h2) var(--fs-h2) / var(--h-line-height) var(--h-ff),
    3-font: var(--fw-h3) var(--fs-h3) / var(--h-line-height) var(--h-ff),
    4-font: var(--fw-h4) var(--fs-h4) / var(--h-line-height) var(--h-ff)
) !default;

$outline: (
    site-size: max(2px, 0.08em),
    site-style: solid
);

$link: (
    text-decoration: none,
    text-decoration-hover: none
);
$border-radius: (
    main: $radius-main
) !default;

$btn: (
    font: var(--body-ff),
    text-transform: uppercase,
    padding: $btn-padding,
    border: 0,
    border-radius: $radius-btn
) !default;

$site-header: (
    padding: $header-padding,
    margin: 0,
    min-height: $header-min-height
) !default;

$main-nav: (
    padding: $nav-padding,
    margin: 0,
    gap: $main-gap,
    link-text-decoration: none,
    font-family: var(--body-ff)
) !default;

$side: (
    title-fs: var(--fs-, 2.3rem),
    sub-title-fs: var(--fs-, 1.1rem),
    p-fs: var(--fs-body)
);
$card: (
    num-fs: 2rem,
    heading-font-size: var(--h4-font)
);

// scrollbar

$scrollbar: (
    height: $scrollbar-height,
    width: $scrollbar-width,
    border-radius: $scrollbar-radius
);

$container-width: (
    sm: 100%,
    md: 100%,
    lg: 1024px
) !default;
