// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@layer footer {
    .primary-footer {
        background-color: var(--clr-accent-300);
        padding: 1rem;

        a {
            color: inherit;
        }
    }
}
